<div class="content-container">
  <div class="content-area">
    <table class="table">
      <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions">
        <td *ngIf="transaction.amount > 0">{{walletAddress}}</td>
        <td>{{transaction.counterAddress}}</td>
        <td *ngIf="transaction.amount <= 0">{{walletAddress}}</td>
        <td>{{abs(transaction.amount)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
