table tr:hover {
  background-color: #f26739;
  cursor: pointer;
}

table {
  table-layout: fixed;
}

td {
  /*
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  */

  /*
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  */
}

tbody{
  background-color: #666666;
  color: #ffffff;
}

@media only screen and (max-width: 416px) {
  .btn{
    display: block;
  }
}

@media only screen and (min-width: 500px) {
  .btn{
    display: none;
  }
}
