<div class="content-container">
  <div class="content-area">
    Order with id {{ order?.id }}<br />
    Created: {{ order?.created }}<br />
    Customer: {{ order?.user.email }}
  </div>

  <!-- user.admin -->
  <div *ngIf="user?.isAdmin && order?.canDeliver()">
    <button class="btn btn-primary" (click)="confirmDelivering()">Bevestig verzending</button>
  </div>

  <button class="btn btn-primary" (click)="confirmDelivering()">Bevestig verzending</button>

  <div *ngIf="order && user && order.user.id == user.id && order.canReceive()">
    <button class="btn btn-primary" (click)="confirmReceived()">Bevestig ontvangst</button>
  </div>
</div>
