<div class="content-container">
  <div class="content-area">

  <div class="row">
    <div *ngFor="let product of products" class="col-md-4">
      <app-shop-product [product]="product"></app-shop-product>
    </div>
  </div>
  </div>

  <nav class="sidenav">
    <section class="nav-group collapsible">
      <input id="products" type="checkbox">
      <label id="product" for="products">Products</label>
      <ul class="nav-list">
        <li class="orange-plus"><clr-icon shape="plus-circle"></clr-icon><a routerLink="bier" class="nav-link">Bier</a></li>
        <li class="orange-plus"><clr-icon shape="plus-circle"></clr-icon><a routerLink="vlag" class="nav-link">Vlaggen</a></li>
        <li class="orange-plus"><clr-icon shape="plus-circle"></clr-icon><a routerLink="paraplu" class="nav-link">Paraplu's</a></li>
      </ul>
    </section>
  </nav>
</div>
