.sidenav{
  background-color: #666666;
}

.nav-link{
  color: white;
  font-family: BastardusSans;
}

.nav-link:hover{
  text-decoration: none;
  font-family: BastardusSans;
}

#product{
  color: white;
  font-family: BastardusSans;
}

.orange-plus{
  color: #f26739;
}
