<div class="content-container">
  <div class="content-area">
    <div class="row">
      <div *ngFor="let product of products" class="col-md-4">
        <app-shop-product [product]="product"></app-shop-product>
      </div>
    </div>
  </div>

  <nav class="sidenav">
    <section class="nav-group collapsible">
      <input id="products" type="checkbox">
      <label for="products">Products</label>
      <ul class="nav-list">
        <li><a routerLink="bier" class="nav-link">Bier</a></li>
        <li><a routerLink="vlag" class="nav-link">Vlaggen</a></li>
        <li><a routerLink="paraplu" class="nav-link">Paraplu's</a></li>
      </ul>
    </section>
  </nav>
</div>
