<div class="content-container">
  <div class="content-area">
    Bestelling {{ order?.id }}<br />
    Gemaakt op {{ order?.created }}<br />
    Klant: {{ order?.user.email }}<br />
    Status: {{ order?.getLastStatus() }}<br />
    Bedrag: {{ order?.getTotalPrice() }} SYN<br />
    Bedrag voldaan: {{ order?.getPaidPrice() }} SYN<br />
    Producten: {{ order?.getProductsAsString() }}<br />
  </div>

  <div *ngIf="user?.isAdmin && order?.canDeliver()">
    <button class="btn btn-primary" (click)="confirmDelivering()">Bevestig verzending</button>
  </div>

  <div *ngIf="order && user && order.user.id == user.id && order.canReceive()">
    <button class="btn btn-primary" (click)="confirmReceived()">Bevestig ontvangst</button>
  </div>

  <div *ngIf="order && user && order.user.id == user.id && order.canCancel()">
    <button class="btn btn-primary" (click)="cancel()">Annuleer bestelling</button>
  </div>
</div>
