<clr-main-container class="main-container">
  <br>
  <clr-header class="header header">
    <div class="branding">
      <a routerLink="/home" class="nav-link">
        <!--<clr-icon shape="vm-bug"></clr-icon>-->
      </a>
    </div>

    <div class="header-nav offset-md-2" [clr-nav-level]="1">
      <a routerLink="home" routerLinkActive="active" class="nav-link"><span class="nav-text">SynCoin</span></a>
      <a routerLink="home" routerLinkActive="active" class="nav-link"><span class="nav-text">Home</span></a>
      <img src="../assets/syntouch_logo.png" height="75px">
      <a routerLink="shop" routerLinkActive="active" class="nav-link"><span class="nav-text">Winkel</span></a>
      <a routerLink="wallet" routerLinkActive="active" class="nav-link"><span class="nav-text">Wallet</span></a>
    </div>

    <div class="header-actions">
      <div class="nav-link">
      <clr-dropdown>
          <button class="nav-icon" clrDropdownTrigger>
            <clr-icon shape="user"></clr-icon>
          </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a routerLink="/register" clrDropdownItem>Registreren</a>
          <a routerLink="/login" clrDropdownItem>Inloggen</a>
          <a clrDropdownItem (click)="this.logout()">Uitloggen</a>
        </clr-dropdown-menu>
      </clr-dropdown>
      </div>
    </div>
  </clr-header>
  <br>
  <div class="navdivider"><p></p></div>
  <router-outlet></router-outlet>
</clr-main-container>

