.qr-code-wrapper {
    text-align: center;
}

.qr-code-wrapper.disabled {
    background-color: grey;
}

.qr-code-wrapper button {
  display: block;
}

button.colorless, button.colorless:hover {
    color: unset;
}

.tooltip-content {
    text-transform: initial;
}

.btn{
  background-color: #f26739;
}

.card-header{
  background-color: #f26739;
  color: #ffffff;
}
