<div *ngIf="product" class="col-md-12">
  <div class="card">
    <div class="card-header text-center">
      {{product.name}}
    </div>
    <div class="card-block text-center">
      <div class="card-title">
        <img src="{{product.image}}" height="200px" width="150px">
        <br> {{product.description}}
      </div>
      <div class="card-text text-center">
        {{product.price}} token
      </div>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-danger"(click)="orderProduct(product)">Bestel</button>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="showModal" [clrModalSize]="'lg'" [clrModalClosable]="false" [clrModalStaticBackdrop]="true">
  <h3 class="modal-title">Wachten op betaling van {{product.name}}: {{product.description}}</h3>
  <div class="modal-body">
    <clr-alert *ngIf="orderCanceled" [clrAlertClosable]="false" [clrAlertType]="'alert-warning'" [clrAlertAppLevel]="true">
      <div clr-alert-item class="alert-item">
        <span class="alert-text">
          Tijdslimiet voor het betalen van de bestelling is verstreken, uw bestelling is geannuleerd.
        </span>
      </div>
    </clr-alert>
    <clr-alert *ngIf="paymentReceived" [clrAlertClosable]="false" [clrAlertType]="'alert-success'" [clrAlertAppLevel]="true">
      <div clr-alert-item class="alert-item">
        <span class="alert-text">
          Uw betaling is ontvangen!
        </span>
      </div>
    </clr-alert>

    <div class="qr-code-wrapper" *ngIf="(!orderCanceled && order) && !paymentReceived">
      <!-- If an order isn't known yet, don't try to set the values inside the div -->
      <qr-code [value]="paymentLink" [size]="350" [backgroundAlpha]="0.0" class="qr"></qr-code>
      <button (click)="openPaymentPage()" class="btn btn-danger btn-block">
        Ga naar wallet
      </button>

      <button *ngIf="!orderCanceled" type="button" class="btn btn-danger btn-block" (click)="cancelOrderAndExitModal()">Annuleer bestelling</button>

    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="orderCanceled || paymentReceived" type="button" class="btn btn-danger" (click)="hideModal()">Ga terug</button>
  </div>
</clr-modal>
