<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="balance" routerLinkActive="active" class="nav-link">Balans</a>
    </li>
    <li class="nav-item">
      <a routerLink="send" routerLinkActive="active" class="nav-link">Overmaken</a>
    </li>
    <li class="nav-item">
      <a routerLink="receive" routerLinkActive="active" class="nav-link">Ontvangen</a>
    </li>
    <li class="nav-item">
      <a routerLink="transactions" routerLinkActive="active" class="nav-link">Transacties</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
