<div class="content-container">
  <div class="content-area">
    <h1>Lorem Ipsum</h1>
    <div class="row">
      <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra dictum iaculis. Pellentesque a odio
        rhoncus, ornare ante tempus, tempus massa. Donec posuere venenatis tempus. Donec egestas risus sit amet felis
        pharetra rutrum. Nunc et scelerisque dui. Aenean posuere justo vitae finibus posuere. Duis faucibus elit non
        metus mattis porttitor. Suspendisse potenti. Phasellus aliquet augue nec tempor condimentum. Donec et risus
        vitae urna dictum eleifend. Donec eu sapien eget erat bibendum ornare. Nam a augue volutpat mauris maximus
        accumsan nec ut mauris. Sed accumsan massa porta lectus lobortis porttitor. Vestibulum ut laoreet nibh.

        Nam fermentum euismod arcu. Maecenas faucibus luctus nisl, et lacinia quam posuere id. Praesent vulputate ipsum
        at ultrices ultrices. Donec placerat fermentum nisi. Curabitur quis turpis vulputate metus placerat vulputate eu
        sed ex. Mauris imperdiet justo a tellus tincidunt, vehicula finibus purus ornare. Vivamus ut elit euismod,
        sagittis ex sed, consequat mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante
        ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec bibendum odio augue, vitae commodo
        eros facilisis facilisis. Pellentesque dapibus ac lectus dictum ullamcorper. Suspendisse potenti. Fusce pretium
        nec lorem nec aliquet. Aenean ornare dui et ante aliquam, et imperdiet mauris faucibus. Sed nec pharetra magna,
        vitae iaculis lacus. Nulla sit amet tellus quis nulla ultrices venenatis sit amet a ligula.
      </div>
    </div>
    <div class="col-md-12 walletCreateContainer">
      <button class="btn btn-primary">Maak een wallet aan</button>
    </div>
  </div>
</div>
