h1 {
  text-align: center;
}

.walletCreateContainer {
  text-align: center;  }

.content-container{
  background-color: #FAF9F5;
}

.walletCreateContainer button {
  margin: 50px;
}

.btn{
  background-color: #f26739;
}

.btn:hover{
  background-color: #666666;
}
