<div class="content-container">
  <div class="content-area">
    <h1>SynTouch</h1>
    <div class="row">
      <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <p>De welbekende Synbier, maar dan in samenwerking met de blockchain technologie. Dit proof-of-concept is bedoeld om
        de gebruikers meer kennis en inzicht te geven hoe transacties gemaakt kunnen worden via de blockchain technologie.
        Gebruikers kunnen hun lekkere en welbekende Synbier bestellen en betalen met SynCoins, die op hun eigen wallet staat.
        De blockchain technologie wordt toegepast om alle transacties transparant te houden voor andere gebruikers. Bij deze
          transacties lopen onze gebruikers geen privacy risico's, omdat de wallet adressen geen privé gegevens bijhouden.
        </p>
      </div>
    </div>
    <div class="col-md-12 walletCreateContainer">
      <button class="btn btn-warning">Maak een wallet aan</button>
    </div>
  </div>
</div>
