<div class="content-container">
  <div class="content-area">
    <div class="row flex-items-xs-center">
      <form [formGroup]="accountForm" (ngSubmit)="onSubmit(accountForm.value)" novalidate>
        <h1>Wijzig account gegevens</h1>

        <h4>Basis</h4>

        <div class="form-group">
          <label for="email" class="required">E-mail adres</label>
          <label for="email" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="!accountForm.controls['email'].valid && accountForm.controls['email'].touched">
            <input type="email" id="email" placeholder="naam@domain.com" formControlName="email">
            <span class="tooltip-content" *ngIf="accountForm.controls['email'].hasError('required')">
              Dit veld is verplicht
            </span>
            <span class="tooltip-content" *ngIf="accountForm.controls['email'].hasError('email')">
              Geen valide e-mail adres
            </span>
          </label>
        </div>

        <!-- Not possible for now  -->
        <!-- <div class="form-group">
          <label for="password" class="required">Wachtwoord</label>
          <label for="password" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-lg tooltip-bottom-left"
            [class.invalid]="!accountForm.controls['password'].valid && accountForm.controls['password'].touched">
            <input type="password" id="password" placeholder="Wachtwoord" formControlName="password">
            <span class="tooltip-content" *ngIf="accountForm.controls['password'].hasError('minlength')">
              Password moet ten minste {{accountForm.controls['password'].getError('minlength')['requiredLength']}} karakters lang zijn
            </span>
          </label>
        </div>

        <div class="form-group">
          <label for="passwordvalidation" class="required">Wachtwoord herhaling</label>
          <label for="passwordvalidation" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-lg tooltip-bottom-left"
            [class.invalid]="!accountForm.controls['passwordvalidation'].valid && accountForm.controls['passwordvalidation'].touched">
            <input type="password" id="passwordvalidation" placeholder="Herhaal wachtwoord" formControlName="passwordvalidation">
            <span class="tooltip-content" *ngIf="accountForm.controls['passwordvalidation'].hasError('matchpassword')">
              Wachtwoorden komen niet overeen
            </span>
          </label>
        </div> -->

        <h4 class="heading optional">Optionele informatie</h4>
        <clr-icon *ngIf="!showExtra" (click)="showExtra = !showExtra" shape="caret" dir="down"></clr-icon>
        <clr-icon *ngIf="showExtra" (click)="showExtra = !showExtra" shape="caret" dir="up"></clr-icon>

        <div *ngIf="showExtra" class="extra-data-wrapper">
          <div class="form-group">
            <label for="name">Voornaam</label>
            <label for="name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md">
              <input type="text" id="name" placeholder="Voornaam" formControlfName="name">
            </label>
          </div>

          <div class="form-group">
            <label for="lastname">Achternaam</label>
            <label for="lastname" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md">
              <input type="text" id="lastname" placeholder="Achternaam" formControlfName="lastname">
            </label>
          </div>

          <div class="form-group">
            <label for="phone">Telefoon</label>
            <label for="phone" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md">
              <input type="text" id="phone" placeholder="0612345678" formControlfName="phone">
            </label>
          </div>

          <div class="form-group">
            <label for="company">Bedrijf</label>
            <label for="company" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md">
              <input type="text" id="company" placeholder="Bedrijfsnaam" formControlfName="company">
            </label>
          </div>

          <div class="form-group">
            <label for="address">Bedrijfsadres</label>
            <label for="address" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md">
              <input type="text" id="address" placeholder="Adres" formControflName="address">
            </label>
          </div>
        </div>

        <div class="alert alert-danger" *ngIf="formError && formError.length > 0">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">{{formError}}</span>
            </div>
          </div>
        </div>

        <div class="button-wrapper">
          <button type="submit" class="btn btn-primary-outline">Update account informatie</button>
        </div>
      </form>
    </div>
  </div>
</div>