.button-wrapper {
  text-align: right;
}
  
.heading.optional {
  display: inline-block;
}
  
h1 + div.form-group, div.extra-data-wrapper {
  margin-top: 10px;
}

.button-wrapper {
  margin-top: 15px;
}