.button-wrapper {
  text-align: right;
}
  
.heading.optional {
  display: inline-block;
}
  
h4 + div.form-group, div.extra-data-wrapper {
  margin-top: 10px;
}

.registration-in-progress {
  max-width: 400px;
}