<clr-alert *ngIf="txFailed" [clrAlertType]="'alert-danger'" [clrAlertAppLevel]="true">
  <clr-alert-item>
    <span class="alert-text">
      Er ging iets fout met verzenden, controleer je balans of probeer het opnieuw.
    </span>
  </clr-alert-item>
</clr-alert>

<clr-alert *ngIf="txSuccess" [clrAlertType]="'alert-success'" [clrAlertAppLevel]="true">
  <clr-alert-item>
    <span class="alert-text">
      Verzonden!
    </span>
  </clr-alert-item>
</clr-alert>

<div class="content-container">
  <div class="content-area">

    <form>
      <section class="form-block">
        <label>Overmaken</label>
        <div class="form-group">
          <label for="adres">Adres</label>
          <input type="text" id="adres" placeholder="Typ of scan een adres" name="address" [(ngModel)]="qrCode">
          <button type="button" class="btn btn-outline-danger" (click)="camOpen = !camOpen">
            <clr-icon shape="camera"></clr-icon>
          </button>
        </div>

        <qr-scanner [mirror]="true" [stopAfterScan]="true" [updateTime]="500" [canvasWidth]="320" [canvasHeight]="320" (onRead)="onQrCodeScanned($event)"
          *ngIf="camOpen"></qr-scanner>
        <div class="form-group">
          <label for="bedrag">Bedrag</label>
          <input type="number" id="bedrag" name="amount" placeholder="Voer een bedrag in" [(ngModel)]="amount">
        </div>
        <div class="form-group">
          <button class="btn btn-danger" [disabled]="!isFormValid()" (click)="showModal = true">Bevestig betaling</button>
        </div>
      </section>
    </form>
  </div>
</div>

<clr-modal [(clrModalOpen)]="showModal" [clrModalSize]="'lg'" [clrModalClosable]="false" [clrModalStaticBackdrop]="true">
  <h3 class="modal-title">Bevestig transactie</h3>
  <div class="modal-body">

    <form>
      <section class="form-block">
        <b>Stuur {{amount}} syn naar {{qrCode}}</b>
        <div class="form-group">
          <p>Voer uw wachtwoord in om de transactie te bevestigen.</p>
        </div>
        <div class="form-group">
          <label for="password">Wachtwoord:</label>
          <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" id="password" />
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger-outline" (click)="showModal = false">Annuleer bestelling</button>
    <button type="button" class="btn btn-danger" (click)="sendTransaction(password)">Bevestig transactie</button>
  </div>
</clr-modal>
